body {
    width: 100%;
    margin: 0;
    

}

a {
    text-decoration: none;
    color: black;
}

/*taille du logo*/
#logo {
    height: 35px;
    width: 150px;
    padding: 15px;
}

/*placement des elements du header au centre*/
header {
    text-align: center;

}



/*placement des elements du form*/
.nav-accueil {
    &__form {
        display: flex;
        justify-content: center;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding: 14px;
        box-shadow: inset 0px 4px 10px $couleur-gris5;


        & i {
            padding-left: 70px;
            position: relative;
        }

        /*ombre du conteneur du logo*/
        &__logo {
            box-shadow: 0px 5px 5px $couleur-gris2;

        }

    }

    &__formparis {
        border: none;
        outline: none;
        font-size: 15px;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding-left: 10px;

    }
}

/*section "reservez le menu qui vous convient"*/
.reservez {
    background-color: $couleur-gris4;
    padding-bottom: 50px;

    &__titre {
        margin: 0;
        text-align: center;
        font-size: 25px;
        padding: 30px 50px 0px 50px;

    }

    &__paragraphe {
        font-family: 'Roboto-Regular';
        font-size: 20px;
        text-align: center;
        color: $couleur-gris2;
    }

    &__bouton {
        text-align: center;
        padding: 20px 50px 0px 50px;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 1000ms;

        & :hover {
            @include ombre-bouton-survol;
            background: linear-gradient(to bottom right, $couleur-secondaire-claire, $couleur-primaire-claire);

        }

        &--violet {
            @include bouton-violet;
            ;

        }
    }
}

.fonctionnement {
    &__titre {
        padding-left: 20px;
    }

    &__ul {
        padding-left: 0px;

        & :hover {
            background-color: lighten($color: $couleur-primaire, $amount: 36);

        }

        & :hover i {
            color: $couleur-primaire;
        }
    }

    &__li {
        list-style: none;
        font-size: 18px;
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: $couleur-gris4;
        border-radius: 30px;
        margin: 20px;
        box-shadow: 5px 5px 5px $couleur-gris3;
        padding-left: 0;
        position: relative;




        &--chiffre {
            border: 1px solid $couleur-primaire;
            color: white;
            background-color: $couleur-primaire;
            border-radius: 25px;
            padding: 5px 10px 5px 10px;
            position: relative;
            left: -10px;

        }

        & i {
            color: $couleur-gris2;
            margin-left: 20px;
            margin-right: 20px;

        }
    }
}

/*cartes restaurant*/

.restaurant {

    background-color: $couleur-gris3;
    margin-top: 60px;

    &__titre {
        padding-left: 20px;
        padding-top: 30px;
    }

    &__carte {
        width: 90%;
        height: 220px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 5%;
        box-shadow: 5px 5px 5px $couleur-gris3;


        &--tailleimage {
            width: 100%;
            height: 75%;
            position: relative;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            display: block;
            object-fit: cover;
        }

        &--titre {
            margin: 0;
            font-size: 17px;
        }

        &--texte {
            margin: 0;
            font-family: 'Roboto-Regular';
            font-size: 16px;

        }

        &--placement {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
    }

}

.coeur {
    display: flex;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &__plein {
        position: relative;
        /*color: $couleur-tertiaire;*/
        width: 20px;
        margin-right: 10px;
        z-index: 2;
        opacity: 0;
        background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }


    &__vide {
        width: 0px;
        z-index: 1;
        opacity: 1;
    }



}


/*footer*/

.footer {
    color: white;
    background-color: $couleur-gris1;
    padding-top: 10px;
    padding-bottom: 10px;

    &__titre {
        font-family: 'shrikhand';
        font-size: 20px;
        padding-left: 35px;
    }

    &__ul {
        list-style: none;
    }

    &__li {
        padding: 5px 0;

        & i {
            width: 16px;
            padding-right: 10px;
        }

        & a {
            color: white;
            font-family: 'roboto';
            font-size: 20px;
            font-family: 'roboto-medium';
            
        }
    }

}