@use "../utils/variable" as *;
@use "../utils/mixins" as *;

body {
    width: 100%;
    margin: 0;


}

a {
    text-decoration: none;
    color: black;
}

/*taille du logo*/
#logo {
    height: 35px;
    width: 150px;
    padding: 15px;
}

/*placement des elements du header au centre*/
header {
    text-align: center;

}



/*placement des elements du form + couleurs, ombres*/
.nav-accueil {


    &__form {
        display: flex;
        justify-content: center;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding: 14px;
        box-shadow: inset 0px 4px 10px $couleur-gris5;


        & i {
            padding-left: 70px;
            position: relative;
        }



    }

    &__formparis {
        border: none;
        outline: none;
        font-size: 15px;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding-left: 10px;

    }
}

/*section "reservez le menu qui vous convient"*/
.reservez {
    background-color: $couleur-gris4;
    padding-bottom: 50px;

    /*taille et placement du titre et couleur,police paragraphe*/
    &__titre {
        margin: 0;
        text-align: center;
        font-size: 25px;
        padding: 30px 50px 0px 50px;

    }

    &__paragraphe {
        font-family: 'Roboto-Regular';
        font-size: 20px;
        text-align: center;
        color: $couleur-gris2;
    }

    /*taille et placement du bouton "explorer nos restaurants*/

    &__bouton {
        text-align: center;
        padding: 20px 50px 0px 50px;
        transform: scale(1);
        transition-property: transform;

        /*au survol du bouron ajout mixin ombre + fond plus clair*/
        & :hover {
            @include ombre-bouton-survol;
            background: linear-gradient(to bottom right, $couleur-secondaire-claire, $couleur-primaire-claire);

        }

        /* ajout mixin pour le style du bouton*/
        &--violet {
            @include bouton-violet;


        }
    }
}

/* section fonctionnement*/
.fonctionnement {
    &__titre {
        padding-left: 20px;
    }

    /*& a:hover {
        background-color: lighten($color: $couleur-primaire, $amount: 36);
        color: $couleur-primaire;

    } */


    /* au survol des li changement de la couleur de fond*/
    & li:hover {
        background-color: lighten($color: $couleur-primaire, $amount: 36);
        /*color: $couleur-primaire;*/


    }

    &__ul {
        padding-left: 0px;



        /*au survol changement couleur icone*/
        & :hover i {
            color: $couleur-primaire;
        }


    }

    /* taille et placement, couleur des li*/
    &__li {
        list-style: none;
        font-size: 15px;
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: $couleur-gris4;
        border-radius: 30px;
        margin: 20px;
        box-shadow: 5px 5px 5px $couleur-gris3;
        padding-left: 0;
        position: relative;

        &:hover a {
            color: $couleur-primaire;

        }


        /*taille et placement et couleur du chiffre avec son rond autour*/

        &--chiffre {
            border: 1px solid $couleur-primaire;
            color: white;
            background-color: $couleur-primaire;
            border-radius: 25px;
            padding: 5px 10px 5px 10px;
            position: relative;
            left: -10px;

        }

        /* placement et couleur de l'icone*/
        & i {
            color: $couleur-gris2;
            margin-left: 20px;
            margin-right: 20px;

        }
    }
}

/*section restaurant*/


/*couleur taille marge de la partie restaurant*/
.restaurant {

    background-color: $couleur-gris3;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 60px;
    margin-bottom: 0px;

    &__titre {
        padding-left: 20px;


    }

    /*taille et placement des carte + ombre + indication animation scale au survol*/

    &__carte {
        width: 90%;
        height: 220px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 5%;
        box-shadow: 5px 5px 5px $couleur-gris3;
        transform: scale(1);
        transition-duration: 400ms;

        /*taille de l'image dans les cartes restaurant*/

        &--tailleimage {
            width: 100%;
            height: 75%;
            position: relative;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            display: block;
            object-fit: cover;
        }

        &--titre {
            margin: 0;
            font-size: 17px;
        }

        &--texte {
            margin: 0;
            font-family: 'Roboto-Regular';
            font-size: 16px;

        }

        &--placement {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        /*animation grossisement de la carte au survol*/
        &:hover {
            transform: scale(1.01);
        }

        /*taille, placement et couleur pour le cadre nouveau sur les cartes restaurant*/

        &--nouveau {
            color: $couleur-vert-fonce;
            position: absolute;
            background-color: $couleur-vert-clair;
            width: 22%;
            height: 14%;
            top: 10px;
            right: 10px;
            z-index: 1;
            display: flex;
            justify-content: center;
            border-radius: 2px;
            font-size: 15px;
            margin: 5px;
            align-items: center;


        }
    }


}

/*coeur taille placement + indication animation*/
.coeur {
    display: flex;
    transform: scale(1);
    transition-duration: 1000ms;

    /*coeur qui grossit au survol*/
    &:hover {
        transform: scale(1.35);

    }


    /*coeur plein taille position + indication animation + hauteur du z-index + opacité à 0 avant l'animation*/
    &__plein {
        position: relative;
        width: 20px;
        font-size: 20px;
        margin-right: 10px;
        background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 250ms;
        z-index: 2;

        /*au survol opcité à 1 pour faire apparaitre le coeur plein*/
        &:hover {

            opacity: 1;

        }

    }


    /* opacité à 0 et z-index descendu au survol pour faire disparaitre les contours du coeur vide*/
    &__vide {
        width: 0px;
        font-size: 20px;
        z-index: 1;
        opacity: 1;
        transition: opacity 250ms;

        &:hover {
            opacity: 0;
        }
    }




}


/*footer*/

/*taille, couleur, position du footer*/
.footer {
    color: white;
    background-color: $couleur-gris1;
    padding-top: 10px;
    padding-bottom: 10px;

    &__titre {
        font-family: 'shrikhand';
        font-size: 20px;
        padding-left: 35px;
    }

    /*enlever style de la liste*/

    &__ul {
        list-style: none;
    }

    &__li {
        padding: 5px 0;

        & i {
            width: 16px;
            padding-right: 10px;
        }

        & a {
            color: white;
            font-family: 'roboto';
            font-size: 20px;
            font-family: 'roboto-medium';

        }
    }

}

/*loading spinner*/

/*couleur de fond + taille + indication pour l'animation - intégration de la keyframes*/

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 99;
    animation: loader 3000ms;
    animation-fill-mode: forwards;
    transition: transform 3000ms;
    animation-delay: 3000ms;

}

/*keyframes opacité + remonté vers le haut et à la fin z-index -1 pour disparaitre (pour le loading spinner)*/

@keyframes loader {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    95% {
        transform: translateY(-1000px);
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

/*fourchette indication pour animation keyframe + couleur placement taille des couverts (pour le loading spinner)*/

.fourchette {
    background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    position: relative;
    margin-top: 200PX;
    animation: fourchette 3000ms;
    scale: 1;
}

/*keyframes des couverts qui tournent et qui changent de taille (pour le loading spinner)*/
@keyframes fourchette {
    25% {
        transform: rotate(360deg);
        scale: 2;

    }

    50% {

        scale: 2.5;
    }

    75% {
        scale: 2;

    }

    100% {
        scale: 1.75;

    }
}

/*loading spinner */
#loader p {
    font-family: 'shrikhand';
    background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

/*pages menu*/

/*placement des elements du header*/
.nav-accueil-enchanté {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    font-size: 20px;

    &__logo {
        width: 100%;
        justify-content: center;
    }
}

/*position et hauteur de l'image pour qu'elle passe en dessous de l'élément du dessous*/
.image-fond {

    /*width: 100%;
    z-index: 1;*/

    &__haut {
        width: 100%;
        height: 250PX;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }

}

/*section menu*/ 

/*couleur de fond reglage des marges, padding et border*/ 
.menu {

    background-color: $couleur-gris3;
    border-radius: 25px 25px 0 0;
    margin-top: -40px;
    padding: 20px 20px 40px 20px;

/* placement du titre et choix de la police + placement du coeur par rapport au titre*/
    &__titre {
        font-family: 'shrikhand';
        font-size: 18px;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &--coeur {
            font-size: 30px;
        }
    }

/* placement des sous titres+ taille couleur et soulignement du titre en vert avec police en majuscule */

    &__sous-titre {
        font-size: 18px;
        font-family: 'Roboto-Thin';
        font-weight: 100;
        border-bottom: 4px solid #99E2D0;
        width: 40px;
        text-transform: uppercase;



    }
}

/*format et condition des cartes, texte qui ne depasse pas, couleur, etc..*/
.menu-carte {

    width: 100%;
    height: 65px;
    background-color: white;
    border-radius: 20px;
    padding: 0px 0 0px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 15px 0 15px 0;



/*police du texte + pas de passage à la ligne + texte qui ne dépasse pas du cadre + ... quand le texte dépasse */
    &__details {

        font-family: 'roboto-medium';

        padding-left: 15px;
        height: 100%;
        width: 100%;
        /* transform: scaleX(1);
        transform-origin: left;
        transition: width 600ms ease-out;*/

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;



        &--titre {
            font-size: 17px;
            padding: 10px 0 5px 0;
            margin: 0;
            font-family: 'roboto';
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        }


        &--paragraphe {
            font-size: 17px;
            font-family: 'roboto-medium';

            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        }


    }
}

/*placement du prix*/ 

.menu-carte__description--prix {
    margin: 10px;

    height: 100%;
    padding-top: 25px;
    /*transform: translateX(0px);
    transition: transform 600ms ease-out;*/


    & p {

        margin: 0;
    }
}

/*coche*/

.div-coche {
    display: flex;

/*placement de la coche + indication pour l'animation de la coche qui part à gauche en partant de la droite + couleur*/

    &__check {
        font-size: 20px;
        width: 70px;
        height: 65px;
        background-color: $couleur-vert-clair;
        color: $couleur-vert-clair;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100px);
        transition: transform 600ms ease-out;
        transform-origin: right;


/*couleur et placement du petit V de la coche + indication de l'animation pour qu'il tourne*/

        & i {
            border: 4px solid white;
            background-color: white;
            border-radius: 25px;
            transition: transform 1000ms;
        }
    }
}

.carte {

/*au survol la coche se decalle progressivement pour etre visible*/

    &:hover .div-coche__check {

        transform: translate(0px);

        /*au survole le V tourne progressivement*/

        & i {

            transform: rotate(360deg);

        }
    }


/*indication de l'animation de la keyframe pour que le prix se decale et reste décalé tant que la souris survole */
    &:hover .menu-carte__description--prix {



        animation: animation-prix 600ms both;
    }


}

/*keyframe pour que le prix suive le mouvement de la coche tout en réduisant l'espace du detail de la carte pour faire apparaitre les ...*/

@keyframes animation-prix {
    0% {
        width: 0px;
    }

    100% {
        width: 100px;
    }

}

/*keyframe pour que les cartes apparaissent progressivement au chargement de la page*/ 

@keyframes animation-carte {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

/*animation keyframe pour que les cartes apparaissent progressivement au chargement de la page avec décalage du début de l'animation carte par carte */

.menu-carte--1 {
    opacity: 0;
    animation: animation-carte 800ms both;
}

.menu-carte--2 {
    opacity: 0;
    animation: animation-carte 800ms both;
    animation-delay: 300ms;
}

.menu-carte--3 {
    opacity: 0;
    animation: animation-carte 800ms both;
    animation-delay: 600ms;
}

.menu-carte--4 {
    opacity: 0;
    animation: animation-carte 800ms both;
    animation-delay: 900ms;
}


/*bouton commander placement et marge*/

.bouton-commander {

    display: flex;
    justify-content: center;
    margin-top: 40px;

/*mixin pour le style des boutons*/

    &__violet {
        @include bouton-violet($font-size: 17px);
        text-align: center;
        transform: scale(1);
        transition-property: transform;
    }

/*mixin pour le style des boutons au survol, un peu plus clair et très légèrement plus gros*/ 
    & :hover {
        @include ombre-bouton-survol;
        background: linear-gradient(to bottom right, $couleur-secondaire-claire, $couleur-primaire-claire);

    }



}

/* media queries*/

@media screen and (min-width: 1098px) {

    /*changement de direction pour la version pc*/

    .menu_pc {
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;



    }

    .carte {
        width: 100%;
    }

    .fonctionnement__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .restaurant__carte {
        min-width: 40%;
        max-width: 40%;
    }

    .restaurant--pc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .colonnes-plats {
        width: 30%;
    }


}