@use "../utils/variable" as *;
@use "../utils/mixins" as *;

body {
    width: 100%;
    margin: 0;


}

a {
    text-decoration: none;
    color: black;
}

/*taille du logo*/
#logo {
    height: 35px;
    width: 150px;
    padding: 15px;
}

/*placement des elements du header au centre*/
header {
    text-align: center;

}



/*placement des elements du form*/
.nav-accueil {


    &__form {
        display: flex;
        justify-content: center;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding: 14px;
        box-shadow: inset 0px 4px 10px $couleur-gris5;


        & i {
            padding-left: 70px;
            position: relative;
        }



    }

    &__formparis {
        border: none;
        outline: none;
        font-size: 15px;
        color: $couleur-gris1;
        background-color: $couleur-gris3;
        padding-left: 10px;

    }
}

/*section "reservez le menu qui vous convient"*/
.reservez {
    background-color: $couleur-gris4;
    padding-bottom: 50px;

    &__titre {
        margin: 0;
        text-align: center;
        font-size: 25px;
        padding: 30px 50px 0px 50px;

    }

    &__paragraphe {
        font-family: 'Roboto-Regular';
        font-size: 20px;
        text-align: center;
        color: $couleur-gris2;
    }

    &__bouton {
        text-align: center;
        padding: 20px 50px 0px 50px;
        transform: scale(1);
        transition-property: transform;


        & :hover {
            @include ombre-bouton-survol;
            background: linear-gradient(to bottom right, $couleur-secondaire-claire, $couleur-primaire-claire);

        }

        &--violet {
            @include bouton-violet;


        }
    }
}

.fonctionnement {
    &__titre {
        padding-left: 20px;
    }

    & a:hover {
        background-color: lighten($color: $couleur-primaire, $amount: 36);
        color: $couleur-primaire;

    }

    &__ul {
        padding-left: 0px;



        & :hover i {
            color: $couleur-primaire;
        }
    }

    &__li {
        list-style: none;
        font-size: 18px;
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: $couleur-gris4;
        border-radius: 30px;
        margin: 20px;
        box-shadow: 5px 5px 5px $couleur-gris3;
        padding-left: 0;
        position: relative;






        &--chiffre {
            border: 1px solid $couleur-primaire;
            color: white;
            background-color: $couleur-primaire;
            border-radius: 25px;
            padding: 5px 10px 5px 10px;
            position: relative;
            left: -10px;

        }

        & i {
            color: $couleur-gris2;
            margin-left: 20px;
            margin-right: 20px;

        }
    }
}

/*cartes restaurant*/

.restaurant {

    background-color: $couleur-gris3;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 60px;
    margin-bottom: 0px;

    &__titre {
        padding-left: 20px;


    }

    &__carte {
        width: 90%;
        height: 220px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 5%;
        box-shadow: 5px 5px 5px $couleur-gris3;
        transform: scale(1);
        transition-duration: 400ms;


        &--tailleimage {
            width: 100%;
            height: 75%;
            position: relative;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            display: block;
            object-fit: cover;
        }

        &--titre {
            margin: 0;
            font-size: 17px;
        }

        &--texte {
            margin: 0;
            font-family: 'Roboto-Regular';
            font-size: 16px;

        }

        &--placement {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        &:hover {
            transform: scale(1.01);
        }

        &--nouveau {
            color: $couleur-vert-fonce;
            position: absolute;
            background-color: $couleur-vert-clair;
            width: 22%;
            height: 14%;
            top: 10px;
            right: 10px;
            z-index: 1;
            display: flex;
            justify-content: center;
            border-radius: 2px;
            font-size: 15px;
            margin: 5px;
            align-items: center;


        }
    }


}

.coeur {
    display: flex;
    transform: scale(1);
    transition-duration: 1000ms;

    &:hover {
        transform: scale(1.35);
    }



    &__plein {
        position: relative;
        width: 20px;
        font-size: 20px;
        margin-right: 10px;
        background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 250ms;
        z-index: 2;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 1;
        }



    }

    &__vide {
        width: 0px;
        font-size: 20px;
        z-index: 1;
        opacity: 1;
        transition: opacity 250ms;

        &:hover {
            opacity: 0;
        }
    }




}


/*footer*/

.footer {
    color: white;
    background-color: $couleur-gris1;
    padding-top: 10px;
    padding-bottom: 10px;

    &__titre {
        font-family: 'shrikhand';
        font-size: 20px;
        padding-left: 35px;
    }

    &__ul {
        list-style: none;
    }

    &__li {
        padding: 5px 0;

        & i {
            width: 16px;
            padding-right: 10px;
        }

        & a {
            color: white;
            font-family: 'roboto';
            font-size: 20px;
            font-family: 'roboto-medium';

        }
    }

}

/*loading spinner*/

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 99;
    animation: loader 3000ms;
    animation-fill-mode: forwards;

}

@keyframes loader {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.fourchette {
    background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    position: relative;
    margin-top: 200PX;
    animation: fourchette 3000ms;
    scale: 1;
}

@keyframes fourchette {
    25% {
        transform: rotate(360deg);
        scale: 2;

    }

    50% {

        scale: 2.5;
    }

    75% {
        scale: 2;

    }

    100% {
        scale: 1.75;

    }
}

#loader p {
    font-family: 'shrikhand';
    background: -webkit-linear-gradient(bottom, $couleur-secondaire , $couleur-primaire );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

/*page "la note enchantée*/

.nav-accueil-enchanté {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    font-size: 20px;

    &__logo {
        width: 100%;
        justify-content: center;
    }
}

.image-fond {

    width: 100%;
    z-index: 1;

    &__haut {
        width: 100%;
        height: 250PX;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }

}


.menu {

    background-color: $couleur-gris3;
    border-radius: 25px 25px 0 0;
    margin-top: -40px;
    padding: 20px 20px 40px 20px;


    &__titre {
        font-family: 'shrikhand';
        font-size: 18px;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &--coeur {
            font-size: 30px;
        }
    }

    &__sous-titre {
        font-size: 20px;
        font-family: 'roboto-medium';

    }
}

.menu-carte {

    width: 100%;
    height: 45px;
    background-color: white;
    border-radius: 20px;
    padding: 15px 0 15px 0;
    position: relative;
    overflow: hidden;
    display: flex;


    &__titre {
        font-size: 17px;
        margin: 0;
        padding-left: 15px;
    }

    &__description {
        display: flex;

        justify-content: space-between;

        padding: 10px 15px 10px 15px;

        &--paragraphe {
            font-size: 17px;
            font-family: 'roboto-medium';
            margin: 0;
        }

        &--prix {
            margin-bottom: 0px;
            padding-top: 30px;





            & p {
                margin: 0;


            }
        }
    }
}




.div-coche {
    display: flex;



    &__check {
        font-size: 20px;
        width: 70px;
        height: 75px;
        background-color: $couleur-vert-clair;
        color: $couleur-vert-clair;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(100px);



        transition: transform 600ms;

        transform-origin: right;

        & i {
            border: 4px solid white;
            background-color: white;
            border-radius: 25px;
            transition: transform 1000ms;
        }
    }
}

.carte {


    &:hover .div-coche__check {

        transform: translate(0px);

        & i {

            transform: rotate(360deg);

        }
    }


}
























/*bouton commander*/

.bouton-commander {

    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__violet {
        @include bouton-violet;
        text-align: center;
        transform: scale(1);
        transition-property: transform;
    }


    & :hover {
        @include ombre-bouton-survol;
        background: linear-gradient(to bottom right, $couleur-secondaire-claire, $couleur-primaire-claire);

    }



}