@use "../utils/variable" as v;

@font-face {
    font-family: 'shrikhand';
    src: url("../polices/Shrikhand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("../polices/Roboto-Regular.ttf");
    src: url("../polices/Roboto-Bold.ttf");
    font-weight: normal;
    font-style:normal;
}

body
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

