$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-gris1: #353535;
$couleur-gris2: #8a8888;
$couleur-gris3: #eaeaea;
$couleur-gris4: #f6f6f6;
$couleur-gris5: #b3aeae;
$couleur-primaire-claire: #9761d8;
$couleur-secondaire-claire:rgb(250, 144, 220);
$couleur-vert-clair: #99e2d0;
$couleur-vert-fonce: #008766;

