@charset "UTF-8";
@font-face {
  font-family: "shrikhand";
  src: url("../polices/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../polices/Roboto-Regular.ttf");
  src: url("../polices/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*taille du logo*/
#logo {
  height: 35px;
  width: 150px;
  padding: 15px;
}

/*placement des elements du header au centre*/
header {
  text-align: center;
}

/*placement des elements du form*/
.nav-accueil__form {
  display: flex;
  justify-content: center;
  color: #353535;
  background-color: #eaeaea;
  padding: 14px;
  box-shadow: inset 0px 4px 10px #b3aeae;
}
.nav-accueil__form i {
  padding-left: 70px;
  position: relative;
}
.nav-accueil__formparis {
  border: none;
  outline: none;
  font-size: 15px;
  color: #353535;
  background-color: #eaeaea;
  padding-left: 10px;
}

/*section "reservez le menu qui vous convient"*/
.reservez {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.reservez__titre {
  margin: 0;
  text-align: center;
  font-size: 25px;
  padding: 30px 50px 0px 50px;
}
.reservez__paragraphe {
  font-family: "Roboto-Regular";
  font-size: 20px;
  text-align: center;
  color: #8a8888;
}
.reservez__bouton {
  text-align: center;
  padding: 20px 50px 0px 50px;
  transform: scale(1);
  transition-property: transform;
}
.reservez__bouton :hover {
  box-shadow: 2px 2px 5px 2px #8a8888;
  transform: scale(1.05);
  transition-duration: 600ms;
  background: linear-gradient(to bottom right, rgb(250, 144, 220), #9761d8);
}
.reservez__bouton--violet {
  font-size: 15px;
  border-radius: 30px;
  padding: 15px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  box-shadow: 5px 5px 5px #ddd8d8;
}

.fonctionnement__titre {
  padding-left: 20px;
}
.fonctionnement a:hover {
  background-color: #f4eefc;
  color: #9356DC;
}
.fonctionnement li:hover {
  background-color: #f4eefc;
  color: #9356DC;
}
.fonctionnement__ul {
  padding-left: 0px;
}
.fonctionnement__ul :hover i {
  color: #9356DC;
}
.fonctionnement__li {
  list-style: none;
  font-size: 18px;
  padding: 25px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  padding-left: 0;
  position: relative;
}
.fonctionnement__li:hover a {
  color: #9356DC;
}
.fonctionnement__li--chiffre {
  border: 1px solid #9356DC;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  position: relative;
  left: -10px;
}
.fonctionnement__li i {
  color: #8a8888;
  margin-left: 20px;
  margin-right: 20px;
}

/*cartes restaurant*/
.restaurant {
  background-color: #eaeaea;
  padding-bottom: 40px;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 0px;
}
.restaurant__titre {
  padding-left: 20px;
}
.restaurant__carte {
  width: 90%;
  height: 220px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5%;
  box-shadow: 5px 5px 5px #eaeaea;
  transform: scale(1);
  transition-duration: 400ms;
}
.restaurant__carte--tailleimage {
  width: 100%;
  height: 75%;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  display: block;
  object-fit: cover;
}
.restaurant__carte--titre {
  margin: 0;
  font-size: 17px;
}
.restaurant__carte--texte {
  margin: 0;
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.restaurant__carte--placement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurant__carte:hover {
  transform: scale(1.01);
}
.restaurant__carte--nouveau {
  color: #008766;
  position: absolute;
  background-color: #99e2d0;
  width: 22%;
  height: 14%;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  font-size: 15px;
  margin: 5px;
  align-items: center;
}

.coeur {
  display: flex;
  transform: scale(1);
  transition-duration: 1000ms;
}
.coeur:hover {
  transform: scale(1.35);
}
.coeur__plein {
  position: relative;
  width: 20px;
  font-size: 20px;
  margin-right: 10px;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 250ms;
  z-index: 2;
}
.coeur__plein:hover {
  opacity: 1;
}
.coeur__plein:active {
  opacity: 1;
}
.coeur__vide {
  width: 0px;
  font-size: 20px;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms;
}
.coeur__vide:hover {
  opacity: 0;
}

/*footer*/
.footer {
  color: white;
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__titre {
  font-family: "shrikhand";
  font-size: 20px;
  padding-left: 35px;
}
.footer__ul {
  list-style: none;
}
.footer__li {
  padding: 5px 0;
}
.footer__li i {
  width: 16px;
  padding-right: 10px;
}
.footer__li a {
  color: white;
  font-family: "roboto";
  font-size: 20px;
  font-family: "roboto-medium";
}

/*loading spinner*/
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 99;
  animation: loader 3000ms;
  animation-fill-mode: forwards;
  transition: transform 3000ms;
  animation-delay: 3000ms;
}

@keyframes loader {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  95% {
    transform: translateY(-1000px);
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.fourchette {
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  position: relative;
  margin-top: 200PX;
  animation: fourchette 3000ms;
  scale: 1;
}

@keyframes fourchette {
  25% {
    transform: rotate(360deg);
    scale: 2;
  }
  50% {
    scale: 2.5;
  }
  75% {
    scale: 2;
  }
  100% {
    scale: 1.75;
  }
}
#loader p {
  font-family: "shrikhand";
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/*page "la note enchantée*/
.nav-accueil-enchanté {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  font-size: 20px;
}
.nav-accueil-enchanté__logo {
  width: 100%;
  justify-content: center;
}

.image-fond {
  width: 100%;
  z-index: 1;
}
.image-fond__haut {
  width: 100%;
  height: 250PX;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.menu {
  background-color: #eaeaea;
  border-radius: 25px 25px 0 0;
  margin-top: -40px;
  padding: 20px 20px 40px 20px;
}
.menu__titre {
  font-family: "shrikhand";
  font-size: 18px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__titre--coeur {
  font-size: 30px;
}
.menu__sous-titre {
  font-size: 18px;
  font-family: "Roboto-Thin";
  font-weight: 100;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  text-transform: uppercase;
}

.menu-carte {
  width: 100%;
  height: 65px;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0 0px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 15px 0 15px 0;
}
.menu-carte__details {
  font-family: "roboto-medium";
  padding-left: 15px;
  height: 100%;
  width: 100%;
  /* transform: scaleX(1);
  transform-origin: left;*/
  transition: width 600ms ease-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-carte__details--titre {
  font-size: 17px;
  padding: 10px 0 5px 0;
  margin: 0;
  font-family: "roboto";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-carte__details--paragraphe {
  font-size: 17px;
  font-family: "roboto-medium";
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-carte__description--prix {
  margin: 10px;
  height: 100%;
  padding-top: 25px;
  /*transform: translateX(0px);
  transition: transform 600ms ease-out;*/
}
.menu-carte__description--prix p {
  margin: 0;
}

.div-coche {
  display: flex;
}
.div-coche__check {
  font-size: 20px;
  width: 70px;
  height: 65px;
  background-color: #99e2d0;
  color: #99e2d0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100px);
  transition: transform 600ms ease-out;
  transform-origin: right;
}
.div-coche__check i {
  border: 4px solid white;
  background-color: white;
  border-radius: 25px;
  transition: transform 1000ms;
}

.carte {
  /*&:hover .menu-carte__details {


      width: 60%;


  }*/
}
.carte:hover .div-coche__check {
  transform: translate(0px);
}
.carte:hover .div-coche__check i {
  transform: rotate(360deg);
}
.carte:hover .menu-carte__description--prix {
  width: 100px;
  /*transform: translateX(-75px);*/
}

@keyframes animation-carte {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.menu-carte--1 {
  opacity: 0;
  animation: animation-carte 800ms both;
}

.menu-carte--2 {
  opacity: 0;
  animation: animation-carte 800ms both;
  animation-delay: 300ms;
}

.menu-carte--3 {
  opacity: 0;
  animation: animation-carte 800ms both;
  animation-delay: 600ms;
}

.menu-carte--4 {
  opacity: 0;
  animation: animation-carte 800ms both;
  animation-delay: 900ms;
}

/*bouton commander*/
.bouton-commander {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bouton-commander__violet {
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  box-shadow: 5px 5px 5px #ddd8d8;
  text-align: center;
  transform: scale(1);
  transition-property: transform;
}
.bouton-commander :hover {
  box-shadow: 2px 2px 5px 2px #8a8888;
  transform: scale(1.05);
  transition-duration: 600ms;
  background: linear-gradient(to bottom right, rgb(250, 144, 220), #9761d8);
}

@media screen and (min-width: 1098px) {
  .menu_pc {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
  }
  .carte {
    width: 100%;
  }
  .fonctionnement__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .restaurant__carte {
    min-width: 40%;
    max-width: 40%;
  }
  .restaurant--pc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .colonnes-plats {
    width: 30%;
  }
}
/*@use "./directory/base/fondations";*/

/*# sourceMappingURL=style.css.map */
